@tailwind base;
@tailwind components;
@tailwind utilities;

html, body {
  overflow-x: hidden; /* Empêche le scroll horizontal */
  -webkit-tap-highlight-color: transparent; /* Enlève le flash bleu au tap sur mobile */
}

/* Empêche le zoom sur les inputs iOS */
@media screen and (max-width: 768px) {
  input, select, textarea {
    font-size: 16px !important;
  }
}
@keyframes bounce-slow {
  0%, 100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px);
  }
}

.animate-bounce-slow {
  animation: bounce-slow 3s ease-in-out infinite;
}